$red: rgba(255, 0, 0, 1);

h1 {
    color: $red
}

.tussi {
    padding: 20px;

    background-color: pink;

    button {
        margin-left: 100px;
    }
}


.mega-counter {
    font-size:100px;
    color: rgb(250, 243, 249);
}
